$bn-color: #f7f6ff;
$bn-button: #77b2d3;
$text-heading: #333;
$text-white: #ffffff;
$bg-primary: #f32c6d;
$btn-primary: linear-gradient(115deg, #f32c6d 10.12%, #cb1d95 100.01%);
$bn-borderRadius: 250px;
$bn-borderRadius-9: 9px;
$color_1: var(--text-color);
$color_2: inherit;
$color_3: #999;
$background-color_1: var(--background-color);
$background-color_2: var(--elements-color);
$background-color_3: inherit;
